* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 600px;
	padding: 20px;
	font-family: "Inter";
	font-weight: normal;
	text-align: center;
}

.container > img {
	margin-bottom: 15px;
}

.container > h1 {
	font-size: 40px;
	margin-bottom: 25px;
}

.container > p {
	color: #555;
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 40px;
}

.email-thingie {
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
	padding: 25px 40px 25px 40px;
	gap: 15px;
}

.email-thingie > p {
	font-size: 12px;
	color: #777; 
	margin-top: 10px;
}

.email-thingie > input[type="email"], button {
	padding: 16px;
	border-radius: 10px;
}

.email-thingie > input[type="email"] {
	text-align: center;
	background-color: #F8F9FA;
	border: 2px solid #EEE;
}

.email-thingie > button {
	color: white;
	font-weight: bold;
	background-color: #294CCE;
	border: none;
	cursor: pointer;
}